@{
    ViewBag.Title = "Home Page";
}



<ul>
    <li>
        <h4>Location</h4>
        <ul>
            <li><a onclick="sendRequest('GET', 'location')">GetLocations()</a></li>
            <li><a onclick="sendRequest('GET', 'location/' + $('#value1').val())">GetLocation()</a></li>
            <li><a onclick="sendRequest('POST', 'location')">CreateLocation()</a></li>
            <li><a onclick="sendRequest('PUT', 'location/' + $('#value1').val())">UpdateLocation()</a></li>
            <li><a onclick="sendRequest('DELETE', 'location/' + $('#value1').val())">DeleteLocation()</a></li>
        </ul>
    </li>
    <li>
        <h4>Task</h4>
        <ul>
            <li><a onclick="sendRequest('GET', 'task')">GetTasks()</a></li>
            <li><a onclick="sendRequest('GET', 'task/' + $('#value1').val())">GetTask()</a></li>
            <li><a onclick="sendRequest('POST', 'task')">CreateTask()</a></li>
            <li><a onclick="sendRequest('PUT', 'task/' + $('#value1').val())">UpdateTask()</a></li>
            <li><a onclick="sendRequest('DELETE', 'task/' + $('#value1').val())">DeleteTask()</a></li>
        </ul>
    </li>
    <li>
        <h4>Equipment</h4>
        <ul>
            <li><a onclick="sendRequest('GET', 'equipment')">GetEquipments()</a></li>
            <li><a onclick="sendRequest('GET', 'equipment/' + $('#value1').val())">GetEquipment()</a></li>
            <li><a onclick="sendRequest('POST', 'equipment')">CreateEquipment()</a></li>
            <li><a onclick="sendRequest('PUT', 'equipment/' + $('#value1').val())">UpdateEquipment()</a></li>
            <li><a onclick="sendRequest('DELETE', 'equipment/' + $('#value1').val())">DeleteEquipment()</a></li>
        </ul>
    </li>
    <li>
        <h4>Resource</h4>
        <ul>
            <li><a onclick="sendRequest('GET', 'resource')">GetResources()</a></li>
            <li><a onclick="sendRequest('GET', 'resource/' + $('#value1').val())">GetResource()</a></li>
            <li><a onclick="sendRequest('POST', 'resource')">CreateResource()</a></li>
            <li><a onclick="sendRequest('PUT', 'resource/' + $('#value1').val())">UpdateResource()</a></li>
            <li><a onclick="sendRequest('DELETE', 'resource/' + $('#value1').val())">DeleteResource()</a></li>
        </ul>
    </li>
</ul>

@*<select id="method">
        <option value="get">GET</option>
        <option value="post">POST</option>
        <option value="put">PUT</option>
    </select>
    <input type="button" value="LogIn" onclick="logIn()" />
    <input type="button" value="Send Request" onclick="sendRequest()" />*@

<label style="width: 200px;">ID: </label>
<input id="value1" type="text" />
<br/>
<label style="width: 200px;">JSON Input : </label>
<input id="value3" type="text" />
<br/>
<label style="width: 200px;">JSON Output : </label>
<span id='value2' style="width: 100%"></span>

@*<textarea id="value2" rows="50" cols="100" style="width: 50%"></textarea>*@


@*<inp id='value2'></inp>*@

<script src="~/Scripts/angular.js"></script>


@section scripts {
    <script>
        //var urlPrefix = 'http://193.140.214.49:4444';
        //var urlPrefix = 'http://193.140.214.49:4445';
        var urlPrefix = 'http://localhost:65365';

        var loginData = {
            grant_type: 'password',
            username: 'mail@mail.com',
            password: 'password'
        };

        var apitoken = sessionStorage.getItem('apitoken');
        var a = '';
        function sendRequest(method, model) {
            var headers = {};
            if (apitoken) {
                headers.Authorization = 'Bearer ' + apitoken;
            }

            $.ajax({
                type: method,
                url: urlPrefix + '/api/' + model,
                headers: headers,
                data: $('#value3').val() == '' ? '' : JSON.parse($('#value3').val())
            }).done(function (data) {
                $('#value2').text(JSON.stringify(data, null, 2));
                $('#value1').text = '';
                $('#value3').text = '';
            }).error(function (jqXHR, textStatus, errorThrown) {
                $('#value2').text(jqXHR.responseText || textStatus);
            });
        };

        //function logIn() {
        //    var method = $('#method').val();

        //    var xhr = createCORSRequest(method, urlPrefix + '/Token');
        //    if (!xhr) {
        //        throw new Error('CORS not supported');
        //    }

        //    xhr.send();

        //    $.ajax({
        //        type: method,
        //        url: urlPrefix + '/Token',
        //        data: loginData,
        //        dataType: 'json'
        //    }).done(function (data) {
        //        //$('#value1').text(data.access_token);
        //        apitoken = data.access_token;
        //    }).error(function (jqXHR, textStatus, errorThrown) {
        //        $('#value1').text(jqXHR.responseText || textStatus);
        //    });
        //}

        function createCORSRequest(method, url) {
            var xhr = new XMLHttpRequest();
            if ("withCredentials" in xhr) {

                // Check if the XMLHttpRequest object has a "withCredentials" property.
                // "withCredentials" only exists on XMLHTTPRequest2 objects.
                xhr.open(method, url, true);
                xhr.withCredentials = true;

            } else if (typeof XDomainRequest != "undefined") {

                // Otherwise, check if XDomainRequest.
                // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
                xhr = new XDomainRequest();
                xhr.open(method, url);

            } else {

                // Otherwise, CORS is not supported by the browser.
                xhr = null;

            }
            return xhr;
        }
    </script>
}
